{% extends "base.html" %}
{% block title %}Monthly View{% endblock %}
{% block main_content %}
    <h3>Monthly View</h3>
    
    <table class="month-view">
        <thead>
            <tr>
                <th>Sun</th><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th>
            </tr>
        </thead>
        <tbody>
            {% for row in calendar %}
            <tr>
                {% for day,items in row  %}
                <td{% ifequal day today.day  %} class="today"{% endifequal %}>
                {% if day %}
                    <div class="day-ordinal">
                        
                    </div>
                    {% if items %}
                    <ul>
                        {% for item in items %}
                        <li>
                                <span class="event-times">{{ item.start_time|time }}</span>
                                {{ item.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}