{% load staticfiles %}



<div class="column small-8 small-centered">
	<h1>Form</h1>

	<form method="POST" action="" enctype="multipart/form-data" autocomplete='off'>
		{% csrf_token %}
		{{ form.as_p }}

		<input type="submit" class="button" value="Create post">
	</form>
</div>


{% if queryset %}
{% for place in queryset %}
<p><a href="{{ place.get_absolute_url }}">{{ place.user }}</a></p>
<p>{{ place.city }}</p>
<p>{{ place.location }}</p>
<p>Skills: {{ place.skills.all.values }}</p>
{% endfor %}
{% endif %}

<!-- Jquery js -->
<script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="{% static 'js/form.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.livequery.js' %}"></script>
<script type="text/javascript" src="//maps.google.com/maps/api/js?key=AIzaSyD0MSmH6-nAgxIeJhO_SBiNjrbKyPHhQ9k"></script>